body{
	margin: 0;
	padding: 0;
	font-family: arial;
}

h1, h2, h3, h4, h5, h6, p, a, ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

.headerTop{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: fixed;
	height: 60px;
	top: 0;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	padding: 5px 10px;
	z-index: 4;
}

.headerTop img{
	width: 48px;
	height: 32px;
	object-fit: contain;
}

.container{
	width: 1200px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header{
	background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
	margin-top: 90px;
}

.background{
	background-image: url('../img/section1/smalline.svg'), url('../img/section1/circle.svg'),  url('../img/section1/circle.svg'), url('../img/section1/circle.svg'), url('../img/section1/circle.svg');
	background-repeat: no-repeat;
	background-size: cover, 42px 42px, 42px 42px, 42px 42px, 42px 42px;
	background-position: 0px 5px, 482px -20px, -19px 200px, 1000px 315px, 1100px 50px;
	padding: 100px;
	width: 100%;
	box-sizing: border-box;
}

.innerheader{
	width: 1200px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.section1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 0 24px;
}


.innerheader h1{
	font-size: 44px;
	line-height: 74px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	width: 100%;
	box-sizing: border-box;	
}

.innerheader p{
	width: 780px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.4);
}

/*Styles for Main Body*/

.leftColumn{
	width: 50%;
	box-sizing: border-box;
	text-align: center;
}

.leftColumnImage{
	width: 550px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;	
}

.leftColumnText{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding-top: 30px;
}

.leftColumnText h3{
	font-size: 22px;
	line-height: 30px;
	color: #1F3F68;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	padding: 10px 0;
}

.leftColumnText p{
	font-size: 18px;
	line-height: 26px;
	width: 299px;
	color: #1F3F68;
	opacity: 0.6;
	text-align: left;
}

.phone1{
	font-size: 18px;
	line-height: 26px;
	color: #1F3F68;
	padding: 10px 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.mail1{
	font-size: 18px;
	line-height: 26px;
	color: #1F3F68;
	padding: 10px 0;
	display: block;
	width: 100%;
	box-sizing: border-box;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.phone1:before{
	content: url('../img/mainbody/phone.svg');
	width: 30px;
	height: 30px;
	margin-right: 20px;
	margin-top: 10px;
}


.mail1:before{
	content: url('../img/mainbody/mail.svg');
	width: 30px;
	height: 30px;
	margin-right: 20px;
	margin-top: 10px;
}




















.rightColumn{
	width: 50%;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	padding: 56px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.rightColumn input{
	padding: 21px 42px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	outline: none;
	font-size: 16px;
	color: #1F3F68;
	opacity: 0.5;
	margin: 20px 0 30px;
}

.rightColumn textarea{
	padding: 21px 36px;
	border: 1px solid #356EAD;
	box-sizing: border-box;
	border-radius: 10px;
	resize: none;
	width: 100%;
	box-sizing: border-box;
	height: 304px;
	outline: none;
	margin: 20px 0px 0px;
}

.rightColumn h3{
	font-size: 20px;
	line-height: 30px;
	margin: 20px 0;
	color: #1F3F68;
}

.rightColumn label{
	font-size: 26px;
	margin: 8px 0;
	color: #1F3F68;
	opacity: 0.8;
}

.rightColumn button{
	width: 100%;
	box-sizing: border-box;
	outline: none;
	padding: 23px 186px;
	background: #5A98D0;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	outline: none;
	border: 1px solid #5A98D0;
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 20px;
}
































/*Foooooooottteeeeeeeeeerrrrrrr*/

footer{
	position: relative;
	margin-top: 96px;
}

footer:after{
	content: "";
	width: 90%;
	position: absolute;
	background: #316099;
	border-radius: 0px 200px 0px 0px;
	height: 850px;	
	top: 0;
	z-index: -1;
}

.container2{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footerheader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid #FFFFFF;
	position: relative;
}

.footerheader:after{
	content: '';
	position: absolute;
	border-bottom: 1px solid #FFFFFF;
	width: 100%;
	bottom: -1px;
	left: -100%;
	z-index: 0;
}

.footerheader a{
	padding: 15px 75px;
	margin-right: 120px;
	font-size: 16px;
	color: #FFFFFF;
	background: #5A98D0;
	border-radius: 10px;
}

.footerheaderText h1{
	font-size: 36px;
	width: 357px;
	color: #FFFFFF;
}

.footerheaderText p{
	width: 460px;
	font-size: 16px;
	color: #FFFFFF;
	opacity: 0.6;
	padding-top: 20px;
}

.footerbotom{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;	
	padding-top: 100px;
}

.logoSide{
	display: block;
}

.logoSide a{
	display: block;
}

.Logobar{
	font-size: 28px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-left: 70px;
}

.logoSide p{
	width: 264px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 26px;
	padding-top: 20px;
}

.phone{
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 12px 0;
}

.email{
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 8px 0;
}

.Logobar:before{
	content: url('../img/footerlogo.svg');
	width: 20px;
	height: 20px;
	position: absolute;
	top: -10px;
	bottom: 0;
	left: -70px;
}

.listHeading{
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

.listlink{
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	padding: 8px 0px;
	display: block;
}

.unordered{
	padding-right: 150px;
}


.CopyRight{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 100px;
	width: 100%;
	box-sizing: border-box;
}

.CopyRight p{
	font-size: 16px;
	color: #FFFFFF;
	opacity: 0.4;
}



